<%- include('../partials/header') %> 

<div class="homepage">
  <h2>All Facespace members</h2>
  <ul class="homepage__all">
    <% users.forEach(user => { %>
    <li class="homepage__all--user">
      <a href=<%= `/users/${user._id}` %>>
        <img src=<%= user.avatarUrl %>>
      </a>
      <% if (Object.entries(currentUser).length != 0 
        && currentUser.friends.some(friendId => friendId === user._id)) { %>
        <div class="ribbon">
          <span>Friend</span>
        </div>
      <% } %>
    </li>
    <% }) %>
  </ul>
</div>

<%- include('../partials/footer') %> 